.card-header-back {
  background-color: #306c95 !important;
  color: white;
}

body {
  background-color: #fafafa !important;
}

.btn-add-transport {
  background-color: #306c95 !important;
  color: white !important;
  text-align: left;
  padding: 0% 5vh;
}

.anchor_no_decoration {
  text-decoration: none !important;
}

.th-col {
  background-color: #306c95 !important;
  color: white !important;
}

.checkbox,
.form-control {
  outline: 2px solid #306c95;
  outline-offset: -2px;
}
.form-control {
  margin-top: -3%;
}

.row {
  margin-top: 1%;
}
.edit {
  background-color: #306c95 !important;
  color: white !important;
}
.title {
  color: #306c95 !important;
  font-weight: bold;
}

.error {
  outline: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}
